@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
  background-color: #242424;
  color:azure;
}

.loading-img {
  width: 50px;
  height: 50px;
}
